extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum autem voluptas, aut, error voluptate commodi est porro explicabo sapiente, eaque nisi? Recusandae asperiores qui quasi laborum at unde vel repudiandae?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste obcaecati ducimus autem non ex, consequatur similique consectetur molestiae neque vitae labore sapiente enim odio fugit sunt illo sequi molestias.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis obcaecati, reiciendis officia odio amet repudiandae. Accusantium, aspernatur officia iure, corrupti possimus aliquam ipsum quaerat debitis sint aliquid soluta delectus dolore?
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="segiridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, possimus perspiciatis. Consequuntur suscipit voluptatum molestiae sit, nisi a ducimus non obcaecati eligendi delectus maxime provident? Nesciunt eum quod enim ducimus?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, possimus perspiciatis. Consequuntur suscipit voluptatum molestiae sit, nisi a ducimus non obcaecati eligendi delectus maxime provident? Nesciunt eum quod enim ducimus?
                .col-md-4
                    img(src="img/icono_precio.svg", alt="precio", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, possimus perspiciatis. Consequuntur suscipit voluptatum molestiae sit, nisi a ducimus non obcaecati eligendi delectus maxime provident? Nesciunt eum quod enim ducimus?